.leftdiv
{
	height: 1490px;
	width: 350px;
	border: 1px;
	background-image: url("b.jpg");
	float: left;
	padding: 50px;
	padding-top: 110px;
	position: relative;
}
.own_pic
{
	height: 120px;
	width: 120px;
	border: 1px;
	margin-bottom: 30px;
	float: right;
	border-radius: 60px;
	background-image: url("R.jpg");
}
.own_text
{
	height: 120px;
	width: 350px;
	border: 1px;
	float: right;
	color: white;
	font-family: Arial;
	font-size: 18px;
}
.grey_text
{
	color: #E5E5E5;
	font-family: Arial;
	font-size: 18px;
}
.icons
{
	height: 40px;
	width: 350px;
	color: #E5E5E5;
	border: 1px;
	position: absolute;
	top: 88%;
	right: 40;
	align: right;
	float: right;
}
.icon_text
{
	position: absolute;
	height: 50px;
	width: 350px;
	float:right;
	top: 93%;
	right: 40;
	align: right;
	color: #E5E5E5;
	font-size: 12px;
	font-family: Arial;
}
.rightdiv
{
	overflow: auto;
	overflow: scroll;
	position: relative;
	height: 1650px;
	width: 800px;
	padding: 20px;
	border: 1px solid grey;
	float: left;
}
.rsub1
{	position: relative;
	height: 350px;
	width: 800px;
	border: 1px;
	float: right;
	font-size: 30px;
	color: black;
	font-family: Arial;
}
.rsub2
{	
	position: relative;
	height: 824px;
	width: 800px;
	border: 1px;
	float: right;
	font-size: 30px;
	color: black;
	font-family: Arial;
}
.rsub3
{
	position: relative;
	height: 390px;
	width: 800px;
	border: 1px;
	float: right;
	font-size: 18px;
	color: black;
	font-family: Arial;
}
#b1
{	position: absolute;
	height: 40px;
	width: 140px;
	color: #008F00;
	border: 4px solid #008F00;
	border-radius: 6px;
	background-color: white;
	top: 86%;
	left: 10%;
	right: 90%;
	bottom: 2%;
	font-family: Arial;
	font-size: 16px;
}
#textbox
{
	height: 40px;
	width: 250px;
	border-radius: 6px;
}
#area
{
	width: 400px;
	height: 50px;
	position: relative;
}
#b2
{	position: absolute;
	height: 40px;
	width: 140px;
	color: grey;
	border: 4px solid grey;
	border-radius: 6px;
	background-color: white;
	top: 86%;
	left: 10%;
	right: 90%;
	bottom: 2%;
	font-family: Arial;
	font-size: 16px;
}