#calculator
{
	height: 500px;
	width: 300px;
	border-radius: 8px;
	background-color: red;
}
#display
{
	height: 30px;
	width: 250px;
	border-radius: 8px;
	background-color: red;
}

.keys
{
	height: 20px;
	width: 30px;
	border-radius: 8px;
	color: white;
	text-align: center;
}
.pinkkey
{
	background-color: pink;

}
.greenkey
{
	background-color: green;
}
.bluekey
{
	background-color: blue;
}

